<h1 class="container checkout-checkout" style="color:black">Checkout</h1>
<div class="checkout-container">
	<table class="table checkout-table">
		<thead>
			<tr>
				<th class="checkout-header"><h3>Shopping Cart</h3></th>
				<th></th>
				<th>Qty</th>
				<th>Price</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in items">
				<td class="checkout-data">
					<div>
						<img ng-src="{{item.img}}" alt="">
					</div>

				</td>
				<td class="checkout-data-desc">
					<h4 class="items-bought">{{item.name}} <small style="text-decoration:uppercase">{{item.gender}}</small></h4>
					<img class="checkout-nike-plus" src="css/images/nikempng/nikeplus.png" alt="">
					<h6 class="checkout-stock">In Stock</h6>
					<h6 class="checkout-delete" ng-click="remove(item)">Delete</h6>
				</td>
				<td class="checkout-td">1</td>
				<td class="checkout-td"><h5>{{item.price | currency}}</h5></td>
			</tr>
			<td>
				<h4 class="checkout-total">Total: {{total|currency}}</h4>
				<button class="checkout-submit" ng-click='addToHistory()' ui-sref="success">SUBMIT</button>
			</td>
		</tbody>
	</table>
</div>
