<section style="margin-top:20px;">

	<div class="success-section">
		<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a6/Logo_NIKE.svg/1200px-Logo_NIKE.svg.png" alt="">
		<h3 style="padding-top:30px;">Thank you for shopping at Nike</h3>

		<p>Soon you can look forward to your package. We will send an email when your order is on the way.</p>

		<p>You will find more information about your order at My H&M.</p>

		<p>You are always welcome to get in touch with us at 1‑855‑466‑7467.</p>

		<p>Yours,</p>
		<h3>Nike</h3>
		<div style="width:50%;">
			<hr>
		</div>
	</div>

</section>
