<!-- Shop By Size -->
	<section class="kids-shop-by-size">
		<div class="kids-size">

			<div class="kids-size-title">
				<div class="title-kids-size">
					<h2 class="shop-kids">Shop</h2>
					<h2>by size</h2>
				</div>
				<p>Get Size Help</p>
			</div>

			<div class="kids-infant kids-infant-toddler">
				<img src="css/images/nikekids/infant.png" alt="">
				<div class="kids-infant-toddler-text">
					<h4>Infant & Toddler</h4>
					<div class="mini-text">
						<h6 class="tods-text">Clothing (0m-4t)</h6>
						<h6>Shoes (0c-10c)</h6>
					</div>
				</div>
			</div>

			<div class="kids-little-kids kids-infant-toddler">
				<img src="css/images/nikekids/littlekids.png" alt="">
				<div class="kids-infant-toddler-text">
					<h4>Little Kids</h4>
					<div class="mini-text">
						<h6 class="tods-text">Clothing (4-7)</h6>
						<h6>Shoes (10.5c-3y)</h6>
					</div>
				</div>
			</div>

			<div class="kids-infant-toddler">
				<img src="css/images/nikekids/bigkids.png" alt="">
				<div class="kids-infant-toddler-text">
					<h4>Big Kids</h4>
					<div class="mini-text">
						<h6 class="tods-text">Clothing (xs-xl)</h6>
						<h6>Shoes (3.5y-7y)</h6>
					</div>
				</div>
		</div>
	</section>
