<!-- Works only if kids controller is that a certain view -->


<!-- Kids Nike Benefits -->
<div class="horizontal-box">
	<div class="horizontal-line"></div>
</div>
<section class="get-the-best-nike">
	<div class="get-the-best-title">
		<h1>Get the best of nike</h1>
	</div>

	<div class="get-the-best-of-nike-benefits">
		<div class="nike-best-selection" ng-repeat="best in bestNike">
			<a href=""><img ng-src="{{best.img}}" alt=""></a>
			<a href=""><h5>{{best.title}}</h5></a>
			<a href=""><p>{{best.desc}}</p></a>
		</div>
	</div>
</section>


<!-- Follow Young Athletes -->
<section class="follow-young-athletes">
	<div class="young-ath-text">
		<h4>Follow</h4>
		<h4>young athletes</h4>
		<img src="css/images/nikebpics/instagram.png" alt="">
	</div>
</section>
