<div class="caro-super-container">
	<div class="caro-container">
		<div class="carousel"
			data-flickity='{ "freeScroll": true }'>
			<div class="carousel-cell">
				<span class="shipping">Free Shipping</span>
				<span class="free-shipping">Get free shipping with Nike+ <a href="#">See Details</a></span>
			</div>
			<div class="carousel-cell">
				<span class="shipping">30-Day Free Returns</span>
				<span class="free-shipping">Wear it, test it, keep what you like <a href="#">See Details</a></span>
			</div>
			<div class="carousel-cell">
				<span class="shipping">Get the new nike+app</span>
				<span class="free-shipping"><a href="#">See Details</a></span>
			</div>
		</div>
	</div>
</div>
