<h3>Womens</h3>
<div class="hr-line">
	<hr>
</div>


<!-- Shoe Shopping -->
<div class="shop-prods">
	<h5>Shoes</h5>
	<div class="shop-prods-categ">
		<a ui-sref="wLifeStyle" class="prods">Lifestyle ({{WLSLength}})</a>
		<a ui-sref="wRunning" class="prods">Running ({{RnLength}})</a>
		<a ui-sref="wBasketball" class="prods">Basketball ({{BLength}})</a>
		<a ui-sref="wSoccer" class="prods">Soccer ({{SLength}})</a>
		<a ui-sref="wTraining" class="prods">Training & Gym ({{TGLength}})</a>
	</div>
</div>

<div class="shop-prods">
	<h5>Clothes</h5>
	<div class="shop-prods-categ">
		<a href="#" class="prods">Tops & T-Shirts</a>
		<a href="#" class="prods">Hoodies & Pullovers</a>
		<a href="#" class="prods">Jackets & Vests</a>
		<a href="#" class="prods">Pants & Tights</a>
		<a href="#" class="prods">Socks</a>
		<a href="#" class="prods">Accessories & Equipment</a>
	</div>
</div>

<h3>Filters</h3>
<div class="hr-line">
	<hr>
</div>

<div class="shop-prods">
	<div class="shop-prods-categ">
		<a href="#" class="shop-categ-coll"><h5 class="prods">Sport</h5> <span class="prods">+</span></a>
		<a href="#" class="shop-categ-coll"><h5 class="prods">Size Range</h5> <span class="prods">+</span></a>
		<a href="#" class="shop-categ-coll"><h5 class="prods">Collections</h5> <span class="prods">+</span></a>
		<a href="#" class="shop-categ-coll"><h5 class="prods">Fit</h5> <span class="prods">+</span></a>
		<a href="#" class="shop-categ-coll"><h5 class="prods">Color?</h5> <span class="prods">+</span></a>
		<a href="#" class="shop-categ-coll"><h5 class="prods">Size</h5> <span class="prods">+</span></a>
	</div>
</div>
