@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
@import url('https://fonts.googleapis.com/css?family=Lato');


/* The Products */
.the-products {
	display: flex;
	justify-content: space-between;
}

/*---------------- Left Hand Column ---------------- */

.categ-container {
	width: 85%
}

.left-hand-column {
	padding-left: 25px;
	width: 100%;
	color: black;
}

.left-hand-column h3 {
	font-family: "Fjalla One";
	text-transform: uppercase;
}

.hr-line {
	width: 85%;
}


/* Shoe Shopping */
.shop-prods {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.shop-prods-categ {
	display: flex;
	flex-direction: column;
	padding-left: 10px;
}

.shop-prods-categ a {
	font-family: 'Lato';
	text-decoration: none;
	color: black;
	padding-bottom: 5px;
	font-size: 17px;
}

.shop-prods-categ .prods:hover {
	cursor: pointer;
	color: #c6c6c6;
}
.shop-prods-categ .prods {
	width: 50%;
}
.shop-prods h5 {
	font-family: "Fjalla One";
	text-transform: uppercase;
	font-size: 20px
}

.shop-prods-categ span {
	font-weight: 600;
	font-size: 25px;
	text-align: center;
}

.shop-categ-coll {
	display: flex;
	justify-content: space-between;
}

/*---------------- Left Hand Column ---------------- */












/*---------------- Right Hand Column ---------------- */
.shopping-poster-pic {
	position: relative;
	width: 100%;
}

.shopping-poster-pic img{
	width: 100%;
}

.shopping-poster-text {
	position: absolute;
	bottom: 10%;
	left: 3%;
	color: white;
	text-transform: uppercase;
}

.shopping-poster-text h1{
	font-family: "Fjalla One";
	font-size: 25px;
	margin: 0;
	padding: 0;
}

/*The Breaker*/
.the-breaker {
	border-bottom: 2px solid #ccc;
	margin-top: 20px;
	margin-bottom: 20px;
	text-transform: uppercase;
	font-family: "Fjalla One";
}

.the-breaker h1 {
	font-size: 45px;
}

/*The Real Products*/
.products-container {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-right: 40px
}

.the-real-products {
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	width: 75vw;
}


.the-real-products h5 {
	width: 60%;
	margin-bottom: 12px;
}

.the-real-products h5, .the-real-products p {
	margin: 0;
	padding: 0;
	text-align: left;
}

.the-real-products p, .the-real-products h6{
	color: #bbbbbb;
}

.the-real-products img{
	width:318px;
	height:320px;
	transition: .4s;
	transform: translateZ(20px);
	padding: 2px;
}


.the-real-products img:hover{
	cursor: pointer;
	border: 1px solid #ccc;
	border-radius: 5px;
}

/*---------------- Right Hand Column ---------------- */


@media screen and (max-width:1700px) {
	.shop-prods {
		width: 260px;
	}

	.shop-prods h5 {
		font-size: 18px
	}

	.shop-prods-categ a {
		font-family: 'Lato';
		text-decoration: none;
		color: black;
		padding-bottom: 5px;
		font-size: 15px;
	}

	.shopping-poster-pic {
		position: relative;
		width: 1150px;
	}

	.the-breaker h1 {
		font-size: 35px;
	}

	.the-real-products {
		margin-left: 35px;
	}

	.the-real-products {
		width:85%;
	}

	.the-real-products img{
		width:218px;
		height:220px;
		transition: .4s;
		transform: translateZ(20px);
		padding: 2px;
	}


	.products-container {
		width: 95%;
		margin-right: 0px;
	}



}
