<section class="customize-page">


<!-- Customize Navbar -->
			<nav class="customize-nav">
				<img src="css/images/customizepics/nikeid.png" alt="">
				<div class="customize-nav-ind">
					<a href="#" class="ind">Get Started</a>
					<a href="#" class="ind ind-border">Featured</a>
					<a href="#" class="ind ind-border-right">Men</a>
					<a href="#" class="ind">Women</a>
				</div>
			</nav>


<!-- Banner Img -->
			<section class="customize-poster-img">
				<img src="css/images/customizepics/customizebanner.png" alt="">
			</section>


<!-- Sock Racer By You Sect -->
			<section>
				<div class="customize-sock-title">
					<h3>Sock racer by you</h3>
					<p class="customize-sock-1">Dial in the perfect look with the Nike Air Sock Racer's premium color game</p>
					<p class="customize-sock-2">Available 5.4</p>
				</div>
			</section>


<!-- Design. Make. Delivered. -->
			<section class="design-make-deliver">
				<div class="dmd">
					<img src="css/images/customizepics/youdesignit.png" alt="">
					<h1>you design it</h1>
					<h4>We'll show you how to get started below.</h4>
				</div>

				<div class="dmd dmd-mid">
					<img src="css/images/customizepics/wemakeit.png" alt="">
					<h1>we make it</h1>
					<h4>To your exact specifications.</h4>
				</div>

				<div class="dmd">
					<img src="css/images/customizepics/delivered.png" alt="">
					<h1>delivered in 3-5 weeks</h1>
					<h4>We’ll email you updates along the way.</h4>
				</div>
			</section>


<!-- Let's Get Started -->
			<section class="customize-started">
				<h1>Let's get started</h1>
				<p>Choose a starting point below to</p>
				<p>arrive at your perfect shoe.</p>
			</section>


<!-- Start with a blank canvas -->
			<section class="customize-blank">
				<h2>Start with a blank canvas</h2>
				<div class="customize-blank-shoe">
					<div ng-repeat="shoes in nikeShoes">
						<img ng-src="{{shoes.img}}" class="shopper-anim-pic" alt="">
						<a href="#"><h5>{{shoes.title}}</h5></a>
					</div>
				</div>
			</section>


<!-- Material Color Innovation -->
			<section class="mci-sect">
				<a href=""><img class="mci-ind" src="css/images/customizepics/material.png" alt=""></a>
				<a href=""><img class="mci-ind" src="css/images/customizepics/color.png" alt=""></a>
				<a href=""><img class="mci-ind" src="css/images/customizepics/innovation.png" alt=""></a>
			</section>


<!-- Featured Stores -->
			<section class="customize-feat-sect">
				<div class="customize-feat-title">
					<h2>Featured Stories</h2>
				</div>
				<div class="customize-feat-img">
					<a href=""><img class="feat-img" src="css/images/customizepics/kyrie1.png" alt=""></a>
					<a href=""><img class="feat-img" src="css/images/customizepics/kyrie2.png" alt=""></a>
				</div>
				<div class="customize-feat-extra">
					<h3>KYRIE 3 iD PE</h3>
					<p>Customize your own shoe with a glow-in-dark outsole</p>
					<p>and upper to stand out day and night.</p>
					<a href="">Get Started</a>
				</div>
			</section>


<!-- Nike Flyknit -->
			<section class="flyknit-sect">
				<div class="flyknit-banner">
					<img src="css/images/customizepics/nikeflyknit.png" alt="">
					<div class="flyknit-header">
						<h1>NIKE FREE RN FLYKNIT 2017 iD</h1>
						<p>Add extra fun to your run with your favorite NRC </p>
						<p>emoji—only for the Nike Free RN Flyknit 2017 iD.</p>
					</div>
					<div class="flyknit-btn">
						<img src="css/images/customizepics/customizeicon.png" alt="" width="40px;">
						<h5>Customize and buy</h5>
					</div>
				</div>
			</section>


<!-- Summer Suede -->
			<section class="summer-suede-sect">
				<div class="summer-suede-shoes">
					<div ng-repeat="suede in nikeSuede">
						<img class="suede-shoes shopper-anim-pic" ng-src="{{suede.img}}" alt="">
						<h5 style="text-align: center;">{{suede.title}}</h5>
					</div>
				</div>
				<h1>Summer Suede</h1>
				<p>Customize your Nike Air Force 1 iD with luxurious suede,</p>
				<p style="padding-bottom:20px;">midsole options and a personalized lace dubrae.</p>
				<a href="">Shop the collection</a>
			</section>


<!-- **Categories -->
	<section class="nike-a-categ">
		<div class="a-categories-box">
			<div class="a-categories">

				<div class="a-shoes a-categ-display">
					<h5>WOMEN</h5>
					<a href="#">New Releases</a>
					<a href="#">Running</a>
					<a href="#">Basketball</a>
					<a href="#">Nike Sportswear</a>
				</div>

				<div class="a-shoes a-categ-display">
					<h5>MEN</h5>
					<a href="#">New Releases</a>
					<a href="#">Running</a>
					<a href="#">Basketball</a>
					<a href="#">Nike Sportswear</a>
				</div>

				<div class="a-shoes a-categ-display">
					<h5>KIDS</h5>
					<a href="#">Custom Kids' Shoes</a>
					<a href="#">Running</a>
					<a href="#">Basketball</a>
					<a href="#">Nike Sportswear</a>
				</div>

				<div class="a-shoes a-categ-display">
					<h5>FEATURED</h5>
					<a href="#">New NIKEiD</a>
					<a href="#">Nike Free</a>
					<a href="#">Nike Sportswear</a>
					<a href="#">Nike Roshe</a>
				</div>
			</div>
		</div>
	</section>
</section>
