<section class="video-home">
	<video class="home-vid" poster="css/images/nikefoot.png" autoplay="true" loop muted>
		<h1 style="color:white;font-size50px;"></h1>
		<source src="css/videos/nikeVid.mp4" type="video/mp4">
	</video>
	<div class="banner-sum">
		<h1 class="restless">Stay Restless</h1>
		<span>Own the court, rule the pitch and run</span> <br>
		<span>the streets from dawn to dusk. </span><br>
		<span>Be everywhere, except inside.</span>
	</div>
	<button class="btn-summer shopper-anim-btn">Shop Summer Styles</button>
	<div class="box">
		<div class="email-info">
			<a href="#"><img class="email-pic" src="css/images/homepics/emailnike.png" alt=""></a>
			<h1 class="email-text">Sign Up For Nike Email</h1>
			<p class="email-small">Be the first to know about the latest products, exclusives and offers from Nike.</p>
			<a href="#"><h5 class="email-sign-up">Sign Up</h5></a>
		</div>
	</div>
</section>
