@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

.homepage {
	width: 100%;
}

.video-home {
	z-index: 1;
	position: relative;
}

.home-vid {
	object-fit: fill;
	width: 100%;
	height: 80vh;

}

.restless {
	word-spacing: 1px;
	text-transform: uppercase;
	font-weight: 700;
}
.btn-summer {
	position: absolute;
	padding: 14px;
	top: 54%;
	left: 5%;
	color: black;
	font-size: 12px;
	font-family: 'Fjalla One';
	border: 2px solid white;
	border-radius: 5px;
	text-transform: uppercase;
	background: white;

}

.banner-sum {
	width: 25%;
	left: 5%;
	position: absolute;
	top: 28%;
	color: white;

}

.box {
	background-image: url('http://static.tumblr.com/f2ea531c77db4144fb13d1b09ccd84ac/xilnhoj/FWHoaqyj1/tumblr_static_s04scj6u7rkcwwwg04804g0.png');
	position: absolute;
	height: 10%;
	width: 100%;
	background: #fff;
	top: 90%;
}

.email-info {
	padding-top: 2%;
	padding-bottom: 0;
	margin-bottom: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: flex-end;
	text-align: center;

}

.email-pic {
	align-self: center;
}

.email-text {
	font-size: 2em;
	font-style: "Fjalla One";
	color: black;
	text-transform: uppercase;
}

.email-small{
	font-size: 10px;
	color: #888484;
}

.email-sign-up {
	color: black;
}
