@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
@import url('https://fonts.googleapis.com/css?family=Lato');

/*NikeWomen Header*/
.nike-women-page {
	padding-top: 2%;
	width: 100%;
	font-family: "Lato"

}
/*Women Header*/



/*NikeWomen Video*/

.nikewomen-video-sect {
	position: relative;
}

.nikewomen-video {
	object-fit: fill;
	width: 100%;
	height: 79vh;
}

.nikewomen-video-cap {
	width: 25%;
	position: absolute;
	color: #fff;
	top: 28%;
	right: 0%;
}

.nikewomen-video-cap h1{
	font-size: 63px;
	text-transform: uppercase;
	font-family: "Fjalla One";
	margin-left: 10%;
	padding: 0;
}

.nikewomen-video-cap p {
	margin-left: 10%;
	font-size: 22px;
}


.nikewomen-video-cap .w-p-2{
	margin-left: 30%;
	padding: 0;
}

.women-shop-btn {
	text-align: right;
	margin-left: 60%;
	padding: 10px 20px 10px 20px;
	color: #252525;
	font-size: 22px;
	font-family: 'Fjalla One';
	border: 2px solid #fff;
	border-radius: 5px;
	text-transform: uppercase;
	background: white;
}
/*NikeWomen Vido*/


/*Womens Latest Shoes*/
.women-latest-shoes {
	width: 100%;
}

.women-latest-shoes h1 {
	font-size: 30px;
	margin-left: 20px;
	font-family: "Fjalla One";
	text-transform: uppercase;
}

.w-latest-shoes {
	display: flex;
	justify-content: center;
}

.w-latest-shoes img {
	padding: 20px;
}

.w-latest-shoes h4 {
	font-family: "Fjalla One";
	font-size: 27px;
}

.w-latest-shoes p {
	font-size: 15px;
}

.w-latest-shoes h4, .w-latest-shoes p {
	text-align: center;
}

/*Womens Latest Shoes*/

/*Featured*/
.women-featured {
	width: 100%;
}

.women-featured h1{
	font-size: 28px;
	font-family: "Fjalla One";
	text-transform: uppercase;
	margin-left: 20px;
}

.women-featured-pics {
	display: flex;
	justify-content: center;
}

.women-featured-pics img {
	padding: 5px;
}

.women-featured-text {
	display: flex;
	justify-content: center;
}

.w-featured-1-text {
	flex: 1;
	text-align: center;
}

.w-featured-2-text {
	flex: 1;
	text-align: center;
}

.w-f-text h1 {
	font-family: "Fjalla One";
}

.w-f-text p {
	font-size: 14px;
}

.w-featured-btn {
	text-align: right;
	padding: 14px;
	color: #fff;
	font-size: 17px;
	font-family: 'Fjalla One';
	border: 2px solid #fff;
	text-transform: uppercase;
	background: #222222;
}
/*Featured*/

/*Shop by*/
.w-shop-by-sect {
	width: 100%;
}

.w-shop-by-sect h1{
	font-size: 25px;
	font-family: "Fjalla One";
	text-transform: uppercase;
	margin-left: 20px;
}

.w-shop-by-pics {
	display: flex;
	justify-content: center;
}

.w-shop-by-pics img{
	display: flex;
	justify-content: center;
	padding: 5px;
}

/* Nike Apps */
.nike-app {
	margin-top: 100px;
}
.nike-app h1{
	font-size: 25px;
	font-family: "Fjalla One";
	text-transform: uppercase;
	margin-left: 20px;
}

.nike-app-pics {
	display: flex;
	justify-content: center;
}

.nike-app-pics img{
	padding: 5px;
	width: 100%;
	height: 500px;
}

.intro-apps {
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.intro-apps h1{
	font-size: 40px;
	font-family: 'Fjalla One';
}

.intro-apps p{
	font-size: 18px;
}

.nike-app-container {
	margin-left: 6%;
	width: 90%;
}
.nike-app-apps {
	display: flex;
	justify-content: space-around;
}


.nike-w-apps {
	margin-top: 20px;
	text-align: center;
}

.nike-w-apps img{
	width: 80px
}

.nike-w-apps h4{
	font-size: 20px;
}

.nike-w-apps p{
	font-size: 15px;
}


/* Nike Apps */

/*Nike Follow*/

.w-nike-follow-container {
	width: 100%;
	height: 30vh;
	background: #f0f0f0;
}

.w-follow-title {
	display: flex;
	justify-content: center;
	padding-top: 30px;
	color: #252525;
}


.w-follow-title h1{
	font-size: 25px;
}

.w-follow-apps-container {
	padding-top: 20px;
	margin-left: 32%;
	width: 37%;
	display: flex;
	justify-content: space-around;
}

.w-follow-app img{
	width: 40px;
}
/*Nike Follow*/


@media screen and (max-width:1700px) {

	.nikewomen-video-sect {
		width: 1440px;
	}

	.nikewomen-video-cap h1{
		font-size: 43px;
	}

	.nikewomen-video-cap p {
		margin-left: 10%;
		font-size: 14px;
	}

	.nikewomen-video-cap {
		width: 20%;
		position: absolute;
		color: #fff;
		top: 28%;
		right: 3%;
	}

	.women-shop-btn {
		font-size: 12px;
	}

	.women-latest-shoes h1{
		font-size: 18px;
	}

	.w-latest-shoes img {
		padding: 20px;
		width: 300px;
	}

	.w-latest-shoes h4 {
		font-size: 18px;
	}

	.w-latest-shoes p {
		font-size: 13.5px;
	}

	.women-featured h1{
		font-size: 18px;
	}

	.w-f-text p {
		font-size: 14px;
	}

	.w-featured-btn {
		font-size: 12px;

	}

	.w-shop-by-sect h1{
		font-size: 18px;
	}

	.nike-app h1 {
		font-size: 18px;
		font-family: "Fjalla One";
		text-transform: uppercase;
		margin-left: 20px;
	}

	.nike-app {
		width: 1500px;
	}

	.intro-apps h1{
		font-size: 31px;
	}

	.intro-apps p {
		font-size: 16px;
	}

	.nike-w-apps img {
		width: 70px
	}

	.nike-w-apps h4 {
		font-size: 15px;
	}

	.nike-w-apps p {
		font-size: 12px;
	}

	.w-follow-title h1 {
		font-size: 20px;
	}

	.w-follow-app img{
		width: 35px;
	}

	.women-latest-shoes {
		width: 1440px;
	}

	.women-featured {
		width: 1440px;
	}

	.w-shop-by-sect {
		width: 1440px;
	}


}
